on:
  schedule:
    - cron: "0 12 ? * TUE"
  workflow_dispatch:

jobs:
  update-flake-inputs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - run: |
          nix flake update --commit-lock-file
      - run: |
          git push
